.TooBig
{
    margin-top: 10px;
    color: rgb(28, 54, 56);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.flag{
    height: 100px;
    width: 200px;
}
